* {
  margin: 0;
  padding: 0;
}

.App{
  background-color: rgba(3, 28, 41, 1);
}

.App-header {
  height: 29px;
  width: 100%;
  background: rgba(166, 149, 90, 1);
}

.background {
  background-image: url('../public/hp-reu-hero2\ 2.png');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.estrutura {
  width: 90%;
  margin: auto;
}

.harrylogo {
  margin-left: 1vw;
  margin-top: 10vh;
  width: 28vw;
}

.botaotodospersonagens {
  margin: 5vh;
  margin-left: 4.7vw;
  margin-bottom: 10vh;
  background-color: rgba(166, 149, 90, 1);
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  color: rgba(3, 28, 41, 1);
  padding: 8px;
  width: 210px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: Arial;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.249);
  cursor: pointer;
}

.botoesCasas{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 36px;
  gap: 20px;
  padding-bottom: 10vh;
  flex-wrap: wrap;
}

.botoesCasas button {
  border: none;
  margin-bottom: 32px;
  cursor: pointer;
}

.botoesCasas button img{
  margin-bottom: -4px;
  width: 100%;
}
